doctype html
html
  head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      meta(property='og:title', content='#{title}')
      meta(property='og:type', content='article')
      if image
        meta(property='og:image', content='https:#{image}')
        meta(property='twitter:image', content='https:#{image}')
